
body {
  color: white;
  display: flex;
  justify-content: center;
  background: rgb(11,7,80);
  background-image: url("../nightsky.png"), radial-gradient(circle, rgba(11,7,80,1) 0%, rgba(29,29,66,1) 49%, rgba(2,51,61,1) 100%);
}
.container{
  margin-top: 100px;
  width: 384px;
  height: 585px;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  outline: solid 1px black;
  background: url("../stars.png") right , #1b2b52;
  background-size: cover;
  background-repeat:no-repeat;
}
.moon {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  left: 45%;
  border-radius: 50%;
  box-shadow: inset 14px 0px #d3d541, inset 14px 0px 4px 2px #d4d390;
}

.seller{
  margin-top: 20px;
  width: 100%;
  height: 30px;
}

.Btitle{
 width: 100%;
 height: 190px;
 margin-bottom: 20px;
 text-align: center;
 font-size: 6em;
}

.subText{
position: relative;
left: 9%;
width: 85%;
letter-spacing: 0.4em;
line-height: 1.5;
font-kerning: normal;
height: 120px;
font-size: 1.4em;
color: yellow;
}

.author{
margin-top: 20px;
margin-bottom: 20px;
width: 100%;
height: 50px;
font-size: 38px;
}

.review{
  width: 90%;
  left: 5%;
  position: relative;
font-size: 12px;
}
